select {
  padding: 16px 20px;
  border: none;
  border-radius: 2px;
  border: 0.5px solid grey;
}
option {
  color: black;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: black;
}
.dropdown-select {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
}

.dropdown-select--small {
  font-size: 12px;
  padding: 10px 16px;
}
.dropdown-select--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.dropdown-select--large {
  font-size: 16px;
  padding: 12px 24px;
}
