select {
  padding: 16px 20px;
  border: none;
  border-radius: 2px;
  border: 1.5px solid grey;
}
option {
  color: black;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;

  font-weight: 700;
  color: black;
}

select,
label {
  display: block;
}

.dropdown-select {
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.dropdown-select--small {
  font-size: 12px;
  padding: 10px 16px;
}
.dropdown-select--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.dropdown-select--large {
  font-size: 16px;
  padding: 12px 24px;
}
