.image-banner {
  position: relative;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.image-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-banner__title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 11px 20px;
  margin: 4px;
  border: 0;
  line-height: 1;
}

.image-banner__message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 11px 20px;
  margin: 4px;
  border: 0;
  line-height: 1;
}

.image-banner__exit {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 11px 20px;
  margin: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.image-banner__exit:hover {
  background-color: #fffdfd0f;
}
.image-banner__button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.image-banner:hover .image-banner__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.image-banner__button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: all 0.3s ease-in-out;
}
