.service-card {
  width: 260px;
  height: 70px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: "#fefefe";
  display: flex;
  flex-direction: row;
  margin: 4px;
  justify-content: space-between;
}

.icon {
  width: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;

  border-radius: 4px 0 0 4px;
}

.service-info {
  padding: 8px;
  align-items: center;

  width: 65%;
}

.service-name {
  font-weight: bold;
  font-size: 16px;
  height: 35px;
  margin: 0;
  overflow: hidden;
}

.service-description {
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0;
  height: 15px;
  overflow: hidden;
  font-weight: lighter;
  color: #646464;
}

.button {
  padding: 8px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;

  font-size: 18px;
}

.button:hover {
  background-color: #f2f2f2;
}
