.product-card {
  width: 240px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
}

.product-description {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
