.alert {
  width: 25%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 4px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(212, 212, 212);
}

.alert__message {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 12px;
  padding: 6px 11px;
  line-height: 1;
  top: 50%;
  left: 10%;
  width: 80%;
}

.alert__close {
  text-align: center;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-top: -10px;
  width: 24px;
  position: absolute;
  top: 50%;
  right: 5px;
}

.alert__close:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* Types of alert */
.alert--success {
  background-color: rgb(223, 240, 216);
  color: rgb(33, 139, 34);
  border: 1px solid rgb(131, 243, 40);
}

.alert--error {
  background-color: rgb(242, 222, 222);
  color: rgb(185, 74, 72);
  border: 1px solid rgb(255, 98, 121);
}

.alert--warning {
  background-color: rgb(252, 248, 227);
  color: rgb(192, 152, 83);
  border: 1px solid rgb(255, 185, 56);
}

.alert--info {
  background-color: rgb(217, 237, 247);
  color: rgb(58, 135, 173);
  border: 1px solid rgb(49, 221, 255);
}

/* .alert--warning .alert__message,
.alert--warning .alert__close,
.alert--info .alert__message,
.alert--info .alert__close {
  color: #000;
} */
