footer {
  background: #1ea7fd;
  color: #fff;
  text-align: center;
  padding: 1px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

address {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

address p {
  margin: 0;
}

address a {
  margin: 0;
  padding: 0;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.optionMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  text-align: left;
}

.optionMenu h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.copyright {
  padding: 10px;
  align-items: center;
}

.optionMenu a:hover,
.social-media a:hover,
address a:hover {
  color: rgb(0, 0, 0, 0.5);
  transform: translate(-5%, -5%);
}

@media (max-width: 700px) {
  .footer-info {
    flex-direction: row;
  }

  .optionMenu {
    display: none;
  }
  .social-media {
    grid-gap: 0;
  }
}
