.banner {
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 4px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.banner__message {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  padding: 11px 20px;
  line-height: 1;
  top: 50%;
  left: 10%;
}

.banner__close {
  text-align: center;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-top: -10px;
  width: 24px;
  position: absolute;
  top: 50%;
  right: 5px;
}

.banner__close:hover {
  background: rgba(0, 0, 0, 0.2);
}

.banner__close:focus {
  outline: none;
}

/* Types of alert */
.banner--success {
  background-color: #26bf00;
}

.banner--error {
  background-color: #ff0000;
}

.banner--warning {
  background-color: #ffcc00;
}

.banner--info {
  background-color: #00b8e6;
}

.banner--warning .banner__message {
  color: #000;
}
